<%- include("partials/header") %>

<div class="container pagesOtherThanMap">
    <h2>Hello moderator, zie hier de lijst van nieuwe catcalls</h2>

    <div class="container mt-5" id="newCatcallList">
        <% if(catcallsNotVerified.length > 0){ %>
            <% catcallsNotVerified.forEach(function(catcall) { %>
                <div>
                    <h4>"<%= catcall.properties.description %>"</h4>
                    <div class="col">
                        <div class="row float-right"><%= catcall.properties.date %></div><br>
                        <% if(catcall.properties.context){ %>
                            <p>Context: <%= catcall.properties.context %></p>
                        <% } %>
                        <p>Coordinates: <%= catcall.geometry.coordinates %></p>
    
                        <!--3 buttons: 1st one is a form to UPDATE the catcall from verified False to verified True-->
                        <form class="button-form" action="/verify/<%= catcall._id %>?_method=PATCH" method="POST">
                            <input type="submit" class="btn btn-success moderatorButton" value="Voeg toe">
                        </form>
    
                        <!--2nd is a link to the EDIT route to edit the text-->
                        <a href="/<%= catcall._id %>/edit" class="btn btn-warning moderatorButton">Edit</a>
    
                        <!--3rd is a form to DELETE request-->
                        <form class="button-form" action="/<%= catcall._id %>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn btn-danger moderatorButton" value="Verwijder">
                        </form>
                        <hr>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <p>Yes! Er zijn momenteel geen nieuwe catcalls om te verifiëren door de moderator. Kijk op de kaart om foto's toe te voegen aan geverifieerde catcalls of om te kijken welke nog gekrijt kunnen worden.</p>
        <% } %>

    </div>

    <!--element which innerHTML can be set when there are no catcalls-->
    <div class="container" id="moderatorListDefaultMessage"></div>
</div>

<script>


</script>

<%- include("partials/footer") %>





